<!-- <div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
  </ul>
</div> -->
<p>
  <font size="3">
    This project is supported by the Australian Research Council, CSIRO, Curtin University, Swinburne University of Technology, the Pawsey Supercomputing Centre, and Astronomy Data And Computing Services.
 </font>
</p>

<table border="0">
  <tr>
    <td><img src="/assets/images/logos/ARC.png" width="120" height="120"></td>
    <td><img src="/assets/images/logos/CSIRO.svg" width="120" height="120"></td>
    <td><img src="/assets/images/logos/Curtin.png" width="150"></td>
    <td><img src="/assets/images/logos/Swin.png" width="200"></td>
    <td><img src="/assets/images/logos/Pawsey.jpg" width="200"></td>
    <td><img src="/assets/images/logos/ADACS.png" width="200"></td>
  </tr>
</table>


<p>
  <font size="3">
      We acknowledge the Wajarri Yamatji people as the traditional owners of Inyarrimanha Ilgari Bundara, the CSIRO Murchison Radio-astronomy Observatory, where ASKAP is based.
  </font>
</p>